:root {
    --heading-color: #320C2D;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times';
}

/* Made the background color for the body light blue */
body {
    background-color: lightblue;
}

header {
    padding: 20px 20px 20px 0px;
    font-family: 'Times';
    font-size: 22px;
    background-color: var(--heading-color);
    color: lightblue;
}

header h1 {
    display: inline-block;
    background-color: lightblue;
    color: var(--heading-color);
    transition: 2s;
    scroll-behavior: smooth;
    padding-left: 45px;
    padding-right: 5px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times';
    font-size: 22px;
}
/* no bullet points or style type on the ul list */
header nav ul {
    list-style-type: none;
}
/* styled the link */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* all a tags have color lightblue */
a {
    position: relative;
    color: lightblue;
    text-decoration: none;
    transition: 2s;
    scroll-behavior: smooth;
    padding: 0 10px;
    
}

/* Added underline to a tags without hover */
a::after {
    content: "";
    position: absolute;
    text-decoration: underline;
    height: 3px;
    background-color: lightblue;
    transition-duration: 1s;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 1s;
}

/* hovering on a tags will add underline */
a:hover::after {
    width: 100%;
}

/* added background image after header */
.background {
    display: flex;
    position: relative;
    height: 175px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Plain\ Banner.jpg");
    background-size: cover;
    background-position: center;
}

/* Placement of "Welcome to My Portfolio" */
.background h3 {
    position: absolute;
    color: lightblue;
    font-size: 35px;
    height: 5%;
    margin-left: 45%;
    align-items: end;
    margin-top: 6.5%;
  
}

.background img {
    position: absolute;
    left: 73%;
    margin-top: 2px;
    height: 170px;
    font-size: 35px;
    align-items: end;
    width: 10%;
    
    transition:left 3s;
}

.background img:hover {
    left: 70%;
}

.row {
    display: flex;
}
.left-column {
    padding-right: 12px;
    border-right: 5px var(--heading-color) solid ;
    height: 200px;
    

}

.left-column h1 {
   margin-left: 134px;
   font-size: 50px;
}

.left-column span {
    margin-left: 65px;
}

.column p {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 18px;
}
